body {
    background-color: green;
}
.theCard{
    background-color: white;
    width:250px;
    height:400px;
    margin: 0 auto;
    border-radius: 10px;
    font-size: 70px;
    display: flex;
    flex-direction: column;
    border-color: black;
    align-items: center;
    justify-content: space-around;
}
.theCard.heart::before{
    content: "\2665";
    align-self: flex-start;
    padding-left: 20px;
    color:red;
}
.theCard.heart::after{
    content: "\2665";
    align-self: flex-end;
    padding-right: 20px;
    color:red;
}
.theCard.blackclub::before{
    content: "\2663";
    align-self: flex-start;
    padding-left: 20px;
}
.theCard.blackclub::after{
    content: "\2663";
    align-self: flex-end;
    padding-right: 20px;
}
.theCard.spades::before{
    content: "\2660";
    align-self: flex-start;
    padding-left: 20px;
}
.theCard.spades::after{
    content: "\2660";
    align-self: flex-end;
    padding-right: 20px;
}
.theCard.diamond::before{
    content: "\2666";
    align-self: flex-start;
    padding-left: 20px;
    color:red;
}
.theCard.diamond::after{
    content: "\2666";
    align-self: flex-end;
    padding-right: 20px;
    color:red;
}
.elBoton{
    display:flex;
    justify-content: center;
    padding: 20px;
}
